@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:ital,wght@0,100;0,700;1,100;1,700&display=swap");
.menu {
  background-color: #f9f6f4;
  height: 99%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #1E0D03;
   
    letter-spacing: 0.015em;
}
.logo {
  height: 58px;
  width: 133px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-bottom: 59px;
  height: 58px;
  width: 133px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.menu .home ul li {
  height: 56px;
}



.Menu ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 16px 15px 24px;
  gap: 12px;

  width: 252px;
  height: 56px;
  /* Yellow/0 */

  background: #ffb800;
  border-radius: 8px;
}
.limenu.active a {
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
  }
.home > ul {
  padding: 0;
}
.menu>.home>ul>.limenu{
  
  opacity: 0.7;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.015em;
  cursor: pointer;
}
.active {
  background: #ffb800;
  border-radius: 8px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 81px 15px 24px;
  opacity: 1;
  color: #ffff;
  font-weight: 700;
  margin-left: -25px;
  font-family: 'Montserrat';
  font-style: normal;
  
}
.active:hover{
    pointer-events:none;
}
.limenu a img{
    margin-right: 15px;
}

.Software{
 
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
opacity: 0.5;
}